*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.site{
    width: 100%;
    margin: auto;
}
.top{
    width: 100%;
    display: flex;
    text-align: center;
    background-color: #ffff1a;
    height: 70vh;
}
.top .left{
    width: 50%;
    padding-top: 14%;
}
.top .left .ichki{
    padding-left:120px ;
}
.top .left .ichki p{
    margin-right: 40px;
}
.top .left .ichki h1 span{
    margin-right: 83px;
}
.top .left button{
    width: 100px;
    height: 28px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    margin-right: 135px;
}
.top .right{
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top .right img{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: #fff;
}
.main > .top{
    background-color: #fff;
    display: block;
    height: auto;
    padding-right: 85px;
}
.main .top h2, p{
    font-weight: 100;
}
.main .top h2{
    margin-left: 35px;
}
.main .top p{
    font-weight: 100;
    padding-left: 70px;
}
.main .bottom{
    text-align: center;
    width: 100%;
    height: 70px;
    background-color: #efcd38;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.cards{
    display: flex;
    width: 100%;

}
.site > h2{
    font-weight: 100;
}
.cards .card{
    border: 1px solid black;
    height: 150px;
    width: 20%;
    margin: auto;
    background-color: #efcd38;
}
.card > .top{
    width: 100%;
    height: 70%;
    border: 1px solid red;
    background-image: linear-gradient( 50deg , #dccc18 , #861c5f ,#2fc4d2);
}
.card .top img{
    width: 280px;
    z-index: 1;
}
.card > .top button{
    width: 40%;
    height: 30px;
    z-index: 3;
    margin: 10px;
    display: inline;
    border-radius:20px;
    border: none;
            
}
.card > .bottom h3{
    margin: 0;
    margin-left: 10px;
}
.card > .bottom p{
    margin: 0;
    color: #fff;
    margin-left: 10px;
}
.past{
    margin-left: 50px;
}